@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header-container{
    position: sticky;
    top: 0;
}
.sidebar-container{
   overflow: hidden;
}
.sidebar-container:hover{
    overflow-y: scroll;
}

.search-suggestion-card{
    position: absolute;
    height: 550px;
    width: 690px;
    top: 60px;
    left: 150px;
}
